<h1>Welcome to the {{artist}} sets!</h1>

<p>
  This is simple site to learn Angular framework. Maybe one day it'll replace
  <a href="https://hopbit.github.io/DJ/" target="siwinski.info/DJ">official website</a>.
</p>

<p>
  My first {{artist}} DJ set was published in {{year}}, and it's title was
  <b>{{title}}</b>. You can view & download it for listening
  <a href="https://hopbit.github.io/DJ/progressive-awake/its-in-my-soul-june-2008.html" target="It's in my soul">
    here</a>.
</p>

<p>Couple of tracks I've used to create this compilation:</p>
<ul>
  <li *ngFor="let t of tracks">
    {{t.artist}} - {{t.title}} ({{t.remix}})
  </li>
</ul>