<h1>Welcome to the {{artist}} sets!</h1>

<p>
  This is simple site to learn Angular framework. Maybe one day it'll replace
  <a href="https://hopbit.github.io/DJ/" target="siwinski.info/DJ">official website</a>.
  You can find sources at <a href="https://github.com/hopbit/a4app">GitHub</a>.
</p>

<p>
  My first {{artist}} DJ set was published in {{year}}, and it's title was
  <b>{{title}}</b>. You can view & download it for listening
  <a href="https://hopbit.github.io/DJ/progressive-awake/its-in-my-soul-june-2008.html" target="It's in my soul">
    here</a>.
</p>

<button (click)="onClick()" *ngIf="tracksVisible()">Show the name of the second set.</button>
<form (submit)="addNewTrack(newTrack.value)">
  <div>
    <label for="newTrack">Track</label>
    <input type="text" #newTrack>
  </div>
</form>
<p *ngIf="tracksVisible()">Couple of tracks I've used to create this compilation:</p>
<ul>
  <li *ngFor="let t of tracks; let i = index">
    {{i}}. {{t.artist}} - {{t.title}}
    <span *ngIf="remixVisible(t.remix)">({{t.remix}})</span>
    <button (click)="deleteTrack(t)">X</button>
  </li>
</ul>
